### Profession Generator

### Assignment:

1. Create a complete profession generator

------

In [16]:
import json as json
import random as random
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [17]:
df=pd.read_csv('Profession_Generator.csv', na_values='')

In [18]:
df.head()

,Business,Industrial and manufacturing,Law Enforcement and Armed Forces,Service,Agriculture,Hotel and Tourism,dance occupation,film and television occupation,theatre personnel,writing occupation,Health care and Medicine,computer/IT occupations,scientific occupations,engineering and Construction
0,Adverstising specialist,Mechanics,Armed Police Force,Accountant,Animal trainers,Bartender,Ballet dancer,Actor,Producer,Author,Anesthesiologist,Application Analyst,Statistician,Electronic Engineer
1,Baker,Miller,Traffic Police,Chartered Account,Farmer,Chef,Backup dancer,Animator,Director,Blogger,Cardiovascular Surgeon,Computer Operator,Foreignsic Scientist,IT Engineer
2,Bank Worker,Mold Maker,Police,Care Taker,Dairy farmer,Cook,Caller,Cartoonist,Playright,Book Coach,Dermatologist,Computer Technician,Biologist,Military Engineer
3,Body artist,Plumber,Army,Driver,Fruit and Vegetable seller,Waiter,Choreographer,Tweener,Scenic Designer,Commissioning Editor,Neonatologist,Computer Scientist,Botanist,Civil Engineer
4,Event Manager,Welder,Lawyer,Managing Director,Nursery Worker,Tourist Guide,Dancer,Casting Director,Lighting Designer,Copy Editor,Physician,Data Analyst,Food Technologist,Plumber

In [19]:
df=df.fillna('')

In [20]:
df.tail()

,Business,Industrial and manufacturing,Law Enforcement and Armed Forces,Service,Agriculture,Hotel and Tourism,dance occupation,film and television occupation,theatre personnel,writing occupation,Health care and Medicine,computer/IT occupations,scientific occupations,engineering and Construction
17,,,,Finance broker,,,,News Caster,,,,,,
18,,,,Fire fighter,,,,Anchor,,,,,,
19,,,,Casier,,,,Video Editor,,,,,,
20,,,,,,,,Voice Actor,,,,,,
21,,,,,,,,Weatherman/women,,,,,,

In [21]:
register_feature=list(df.columns)
register={}
#print(register_feature)
for row in df.T.iteritems():
    #print(row)
    dict=[]
#     a=enumerate(register_feature)
#     for i in a:
#         print(i)
        
    for value,feature in enumerate(register_feature):
        #print(feature)
        dict.append(row[1][value])
        #print(dict)
    register.update({feature:dict})

In [22]:
register_feature=list(df.columns)
register={}
for row in register_feature:
#     print(row)
    new_list=[i for i in df[row] if (i!='')]
    register.update({row:new_list})

In [23]:
Prof=register

In [24]:
all_professions = list(Prof.keys())
major = random.choice(all_professions)
branch = random.choice(Prof[major])
profession = {"major": major, "branch":branch}
print(profession)

{'major': ' computer/IT occupations', 'branch': 'Software Engineer'}

In [26]:
with open("data/Profession1.json", 'w') as f:
    json.dump(Prof,f)

In [27]:
'''
 This function generates a random foreign address 
'''    
def random_profession(data):
    all_prof = list(data.keys())
    major = random.choice(all_prof)
    branch = random.choice(data[major])
    prof = {"major": major, "branch":branch}
    return prof

In [28]:
with open("data/Profession1.json",'r') as f:
    new=json.load(f)

In [29]:
random_profession(new)

{'branch': 'Callboy', 'major': 'theatre personnel'}